<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- 配置一个dog -->
	<bean id="dog" class="com.pas.collection.Dog">
		<property name="name" value="大黄" />
		<property name="age" value="3" />
	</bean>
	<!-- master -->
	<bean id="master" class="com.pas.collection.Master" autowire="byName">
		<property name="name" value="小李" />
	</bean>
	<!-- master -->
	<bean id="master1" class="com.pas.collection.Master" autowire="byType">
		<property name="name" value="小李" />
	</bean>
	<!-- master -->
	<bean id="master2" class="com.pas.collection.Master" autowire="constructor">
		<property name="name" value="小李" />
	</bean>
</beans>