<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">



	<!-- scope="prototype"为原型模式，每次获取都创建新对象 -->
	<bean id="personService" destroy-method="mydes" init-method="myinit"
		class="com.pas.service.PersonService">
		<property name="name">
			<value>pingansheng</value>
		</property>
		<property name="age">
			<value>20</value>
		</property>
	</bean>
	<bean id="personService2" destroy-method="mydes" init-method="myinit"
	 class="com.pas.service.PersonService">
		<property name="name">
			<value>小红</value>
		</property>
		<property name="age">
			<value>25</value>
		</property>
	</bean>
	
	
	<!-- 配置自定义的后置处理器 -->
	<bean id="postProcessor" class="com.pas.service.MyBeanPostProcessor" />
	<bean id="beanFactoryPostProcessor" class="com.pas.service.MyBeanFactoryPostProcessor">
	</bean>
	<bean id="instantiationAwareBeanPostProcessor" class="com.pas.service.MyInstantiationAwareBeanPostProcessor">
	</bean>
</beans>