<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<filter>
		<filter-name>MyFilter</filter-name>
		<filter-class>com.pas.controller.MyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.pas.view.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>LoginCheckServlet</servlet-name>
		<servlet-class>com.pas.controller.LoginCheckServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>MainFrame</servlet-name>
		<servlet-class>com.pas.view.MainFrame</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ManageUsers</servlet-name>
		<servlet-class>com.pas.view.ManageUsers</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserCTLServlet</servlet-name>
		<servlet-class>com.pas.controller.UserCTLServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>Ok</servlet-name>
		<servlet-class>com.pas.view.Ok</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>Err</servlet-name>
		<servlet-class>com.pas.view.Err</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UpdateUser</servlet-name>
		<servlet-class>com.pas.view.UpdateUser</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserAdd</servlet-name>
		<servlet-class>com.pas.view.UserAdd</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CreateCode</servlet-name>
		<servlet-class>com.pas.view.CreateCode</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AppInit</servlet-name>
		<servlet-class>com.pas.service.AppInit</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ManageUserCTL</servlet-name>
		<servlet-class>com.pas.controller.ManageUserCTL</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>RouteCTL</servlet-name>
		<servlet-class>com.pas.controller.RouteCTL</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginCheckServlet</servlet-name>
		<url-pattern>/LoginCheckServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainFrame</servlet-name>
		<url-pattern>/MainFrame</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageUsers</servlet-name>
		<url-pattern>/ManageUsers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserCTLServlet</servlet-name>
		<url-pattern>/UserCTLServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ok</servlet-name>
		<url-pattern>/Ok</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Err</servlet-name>
		<url-pattern>/Err</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUser</servlet-name>
		<url-pattern>/UpdateUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserAdd</servlet-name>
		<url-pattern>/UserAdd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateCode</servlet-name>
		<url-pattern>/CreateCode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageUserCTL</servlet-name>
		<url-pattern>/ManageUserCTL</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RouteCTL</servlet-name>
		<url-pattern>/RouteCTL</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>
